@tailwind base;
@layer base {
  html {
    font-family: Inter, sans-serif;
  }
  h1{
    font-size: 120px;
  }
  h2{
    font-size: 48px;
  }
  h3{
    font-size:20px;
  }
  h4{
    font-size:16px;
  }
  h5{
    font-size: 12px;
  };
 

}
@tailwind components;
@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
 .clickable{
  cursor: pointer;
 }
 .stroke:before{
  content: '';
  background:url('/assets/images/sketchannotation.svg');
  background-size: cover;
  position: absolute;
  right: 68% ;
  top:10%;
  width:85px;
  height: 85px;
  display: block;
}
.signleImage:after{
  content: '';
  background:url('/assets/images/ornament.svg');
  background-size: cover;
  width:185px;
  height: 185px;
  display: block;
}
.ornament{
  position: absolute;
}
}
@tailwind utilities;
body {
  padding: 0;
  margin: 0;
} 

details[open] summary{
  background-color: #FFC93E;
  color:white;
}